<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="adminPage.css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <title>Restaurant Expert Admin</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Restaurant Expert Admin</span>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" onclick="clickAddNewReview()">
                <i class="material-icons">add</i>
            </button>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div id = "admin_restaurants_list">
                <p></p>
            </div>
        </div>
    </main>
</div>
    <script th:inline="javascript">
        $("#admin_edit_form").hide();
        var reviews_list = [[${reviews}]];
        $(document).ready(function() {
            var index = 0;
            while (index != reviews_list.length){
                addButtonToHTML(reviews_list[index]);
                index++;
            }
        });

        function addButtonToHTML(restaurant){
            $("#admin_restaurants_list").append("<div> \
            <button id = '+restaurant.id+' class='+"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"+' onclick='+"clickOnRestaurantButton(this)"+'>" + restaurant.name + "</button></div>");
        }

        function clickOnRestaurantButton(Object){
            window.location.replace("/edit_"+Object.id);
        }

        function clickAddNewReview(){
            window.location.replace("/add_new_review");
        }

    </script>
</body>
</html>