<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <title>Restaurant Expert Admin</title>
</head>
<body>
<div id="admin_main">
    <div>Restaurant Expert Admin</div>
    <div id = "add_new_review">
        <p><button id = "add_new_button" onclick="clickAddNewReview()">Add new Review</button></p>
    </div>
    <div id = "admin_restaurants_list">
        <div><p>Edit existing Reviews</p></div>
    </div>
</div>
    <script th:inline="javascript">
        $("#admin_edit_form").hide();
        var reviews_list = [[${reviews}]];
        $(document).ready(function() {
            var index = 0;
            while (index != reviews_list.length){
                addButtonToHTML(reviews_list[index]);
                index++;
            }
        });

        function addButtonToHTML(restaurant){
            $("#admin_restaurants_list").append("<div> \
            <button id = '+restaurant.id+' class='+"restaurant_name_button"+' onclick='+"clickOnRestaurantButton(this)"+'>" + restaurant.name + "</button></div>");
        }

        function clickOnRestaurantButton(Object){
            window.location.replace("/edit_"+Object.id);
        }

        function clickAddNewReview(){
            window.location.replace("/add_new_review");
        }

    </script>
</body>
</html>