<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=en" th:inline="javascript"></script>
    <link rel="stylesheet" href="editPage.css"/>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Edit Page</title>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <button id="cancel_review_button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick = "clickCancel()">
                Cancel
            </button>
            <button id="save_review_button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick = "clickSave()">
                Save
            </button>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div id="admin_edit_form">

                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="admin_restaurant_name" />
                            <label class="mdl-textfield__label" for="admin_restaurant_name">Restaurant Name...</label>
                        </div>
                    </form>


                    <div id="admin_review_details_cuisine">
                        <label class="mdl-label">Cuisine:
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cuisine-1">
                                <input type="radio" id="cuisine-1" class="mdl-radio__button" name="cuisine" value="1"/>
                                <span class="mdl-radio__label">1</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cuisine-2">
                                <input type="radio" id="cuisine-2" class="mdl-radio__button" name="cuisine" value="2"/>
                                <span class="mdl-radio__label">2</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cuisine-3">
                                <input type="radio" id="cuisine-3" class="mdl-radio__button" name="cuisine" value="3"/>
                                <span class="mdl-radio__label">3</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cuisine-4">
                                <input type="radio" id="cuisine-4" class="mdl-radio__button" name="cuisine" value="4"/>
                                <span class="mdl-radio__label">4</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cuisine-5">
                                <input type="radio" id="cuisine-5" class="mdl-radio__button" name="cuisine" value="5"/>
                                <span class="mdl-radio__label">5</span>
                            </label>
                        </label>
                    </div>
                    <div id="admin_review_details_interior">
                        <label class="mdl-label">Interior:
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="interior-1">
                                <input type="radio" id="interior-1" class="mdl-radio__button" name="interior" value="1"/>
                                <span class="mdl-radio__label">1</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="interior-2">
                                <input type="radio" id="interior-2" class="mdl-radio__button" name="interior" value="2"/>
                                <span class="mdl-radio__label">2</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="interior-3">
                                <input type="radio" id="interior-3" class="mdl-radio__button" name="interior" value="3"/>
                                <span class="mdl-radio__label">3</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="interior-4">
                                <input type="radio" id="interior-4" class="mdl-radio__button" name="interior" value="4"/>
                                <span class="mdl-radio__label">4</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="interior-5">
                                <input type="radio" id="interior-5" class="mdl-radio__button" name="interior" value="5"/>
                                <span class="mdl-radio__label">5</span>
                            </label>
                        </label>
                    </div>
                    <div id="admin_review_details_service">
                        <label class="mdl-label">Service:
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="service-1">
                                <input type="radio" id="service-1" class="mdl-radio__button" name="service" value="1"/>
                                <span class="mdl-radio__label">1</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="service-2">
                                <input type="radio" id="service-2" class="mdl-radio__button" name="service" value="2"/>
                                <span class="mdl-radio__label">2</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="service-3">
                                <input type="radio" id="service-3" class="mdl-radio__button" name="service" value="3"/>
                                <span class="mdl-radio__label">3</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="service-4">
                                <input type="radio" id="service-4" class="mdl-radio__button" name="service" value="4"/>
                                <span class="mdl-radio__label">4</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="service-5">
                                <input type="radio" id="service-5" class="mdl-radio__button" name="service" value="5"/>
                                <span class="mdl-radio__label">5</span>
                            </label>
                        </label>
                    </div>

                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea class="mdl-textfield__input" type="text" rows= "5" id = "admin_restaurant_review" ></textarea>
                            <label class="mdl-textfield__label" for="admin_restaurant_review">Review...</label>
                        </div>
                    </form>

                    <div id="admin_review_details_map">
                        <button id="map_button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick = "clickMap()">
                            Show Location Details
                        </button>
                        <div id="map" style="width: 300px; height: 200px"></div>
                    </div>

                </div>
            </div>
        </main>
    </div>

    <script th:inline="javascript">
        $(document).ready(function() {
            $("#map").hide();
            if(location.pathname=="/add_new_review"){
                addCurrentGeolocation();
            }else{
                var reviewDetails = [[${restaurant}]];
                $("#admin_editable_restaurant_name").text(reviewDetails.name);
                $("#admin_restaurant_name").val(reviewDetails.name);
                $("input[name=cuisine][value='"+reviewDetails.cuisine+"']").prop('checked', true); ;
                $("input[name=interior][value='"+reviewDetails.interior+"']").prop('checked', true); ;
                $("input[name=service][value='"+reviewDetails.service+"']").prop('checked', true); ;
                $("#admin_restaurant_review").val(reviewDetails.review);
                addLocation(reviewDetails.longitude, reviewDetails.latitude, reviewDetails.name);
            }
        });

        function addCurrentGeolocation(){
            ymaps.ready(function () {
                var geolocation = ymaps.geolocation,
                    myMap = new ymaps.Map('map', {
                        center: [46.455, 30.744],
                        zoom: 16,
                        controls: ['geolocationControl','fullscreenControl']
                    });

                geolocation.get({
                    provider: 'browser',
                    mapStateAutoApply: true
                }).then(function (result) {
                    result.geoObjects.options.set('preset', 'islands#dotIcon');
                    result.geoObjects.options.set('iconColor', '#3b5998');
                    result.geoObjects.options.set('draggable', 'true');
                    myMap.geoObjects.add(result.geoObjects);
                });
            })
        }

        function addLocation(longitude, latitude, name){
            ymaps.ready(function () {
                var geolocation = ymaps.geolocation,
                    myMap = new ymaps.Map('map', {
                        center: [longitude, latitude],
                        zoom: 16,
                        controls: ['geolocationControl','fullscreenControl']
                    });
                myMap.geoObjects.add(new ymaps.Placemark([longitude, latitude], {
                    hintContent: name
                    }, {
                        preset: 'islands#dotIcon',
                        iconColor: '#3b5998',
                        draggable: true
                }));
            });
        }

        function clickMap(){
            if($("#map").is(":visible")){
                $("#map").hide();
                $("#map_button").html('Show Location Details')
            }else{
                $("#map").show();
                $("#map_button").html('Hide Location Details')
            }
        }

        function clickCancel(){
            window.location.replace("/admin");
        }

        function clickSave(){
            if($("#admin_restaurant_name").val()==""){
                alert("Enter restaurant Name");
            }else if($("#admin_restaurant_review").val()==""){
                alert("Enter restaurant Review");
            }else if($("input[name=cuisine]:checked").val()==undefined){
                alert("Check Cuisine Rating");
            }else if($("input[name=interior]:checked").val()==undefined){
                alert("Check Interior Rating");
            }else if($("input[name=service]:checked").val()==undefined){
                alert("Check Service Rating");
            }else {
                var review_array = [];
                review_array.push({'name': $("#admin_restaurant_name").val(),
                'longitude': "46.45",
                'latitude': "30.74",
                'review': $("#admin_restaurant_review").val(),
                'cuisine': $("input[name=cuisine]:checked").val(),
                'interior': $("input[name=interior]:checked").val(),
                'service': $("input[name=service]:checked").val()});
                saveToDB(review_array);
                window.location.replace("/admin");
            }
        }

        function saveToDB(restaurant){
            if($("#admin_editable").is(":hidden")){
                $.ajax({
                    url : 'addNewReview',
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    mimeType: 'application/json',
                    data : { restaurant: JSON.stringify(restaurant)},
                    success: function (reviews){
                    $(document).ready(function() {
                    });
                }
                });
            }else{
                 $.ajax({
                    url : 'editReview',
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    mimeType: 'application/json',
                    data : {
                        id : location.pathname.substring(6),
                        restaurant : JSON.stringify(restaurant)},
                    success: function (reviews){
                        $(document).ready(function() {
                        });
                    }
                });
            }
        }

    </script>
</body>
</html>