<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <title>Restaurant Expert</title>
</head>
<body>
    <div id = "main_page">
        <div id = "logo">Restaurant Expert</div>
        <div id = "map"></div>
        <div id = "search">
            <input id = "search_field" type = "text" placeholder = "search"/>
            <button id = "search_button" onclick = "clickSearch()">Search</button>
        </div>
        <div id = "sorting">Sorted by:
            <select id = "selector" onchange="changeSelector()">
                <option class = "selector_option">rating</option>
                <option class = "selector_option">cuisine</option>
                <option class = "selector_option">interior</option>
                <option class = "selector_option">service</option>
                <option class = "selector_option">name</option>
            </select>
        </div>
        <div id = "restaurants_list"></div>
        <div id = "show_all">
            <button id="show_all_button" onclick = "clickShowAll()">ShowAll</button>
        </div>
    </div>
    <div id = "review_details">
        <div id = "review_details_all_info">
            <div id="review_details_name">
                <label>Restaurant Name:</label>
                <label id = "restaurant_name"></label>
            </div>
            <div id="review_details_location">
                <label>Location:</label>
                <label id = "restaurant_location"></label>
            </div>
            <div id="review_details_cuisine">
                <label>Cuisine:</label>
                <label id = "restaurant_cuisine"></label>
            </div>
            <div id="review_details_interior">
                <label>Interior:</label>
                <label id = "restaurant_interior"></label>
            </div>
            <div id="review_details_service">
                <label>Service:</label>
                <label id = "restaurant_service"></label>
            </div>
            <div id="review_details_review">
                <label>Review:</label>
                <label id = "restaurant_review"></label>
            </div>
        </div>
        <div id="back">
            <button id="back_button" onclick = "clickBack()">Back</button>
        </div>
    </div>

    <script th:inline="javascript">
        var reviews_list = [[${reviews}]];
        $(document).ready(function() {
            var index = 0;
            while (index != reviews_list.length){
                addButton(reviews_list[index]);
                index++;
            }
            $("#review_details").hide();
            $("#show_all").hide()
        });


        function addButton(reviewObject){
            $("#restaurants_list").append("<div> \
            <button class='+"restaurant_name_button"+' onclick='+"clickOnRestaurantButton(this)"+'>" + reviewObject.name + "</button></div>")
        }

        function clickOnRestaurantButton(Object){
            $.ajax({
                url : 'getReview',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                mimeType: 'application/json',
                data : ({
                    restaurantName : Object.innerText
                }),
                success: function (reviewDetails) {
                    $("#restaurant_name").text(reviewDetails.name);
                    $("#restaurant_location").text(reviewDetails.location);
                    $("#restaurant_cuisine").text(reviewDetails.cuisine);
                    $("#restaurant_interior").text(reviewDetails.interior);
                    $("#restaurant_service").text(reviewDetails.service);
                    $("#restaurant_review").text(reviewDetails.review);
                    $("#review_details").show();
                    $("#main_page").hide();
                }
            });
        }

        function clickBack(){
            $("#review_details").hide();
            $("#main_page").show();
        }

        function clickSearch(){
            var pattern = $("#search_field").val();
            if(pattern.length!=0){
                $.ajax({
                    url : 'getMatches',
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    mimeType: 'application/json',
                    data : ({
                        pattern : pattern
                    }),
                    success: function (reviews){
                        if(reviews.length!=0){
                            $("#sorting").hide();
                            $("#show_all").show();
                            $(".restaurant_name_button").remove();
                            $(document).ready(function() {
                                var index = 0;
                                while (index != reviews.length){
                                    addButton(reviews[index]);
                                    index++;
                                }
                            });
                        }else{
                            alert("Nothing was found. Try different search options");
                        }
                    }
                });
            }else{
                alert("Set your request");
            }
        }

        function clickShowAll(){
            $("#search_field").val("");
            $(".restaurant_name_button").remove();
            $("#sorting").show();
            $("#show_all").hide();
            $.ajax({
                url : 'getSorted',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                mimeType: 'application/json',
                data : ({
                    sortingValue : "rating"
                }),
                success: function (reviews){
                    $(document).ready(function() {
                        var index = 0;
                        while (index != reviews.length){
                            addButton(reviews[index]);
                            index++;
                        }
                    });
                }
            });
        }

        function changeSelector(){
            $(".restaurant_name_button").remove();
            var selectedText = $("#selector option:selected").text();
            $.ajax({
                url : 'getSorted',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                mimeType: 'application/json',
                data : ({
                    sortingValue : selectedText
                }),
                success: function (reviews){
                    $(document).ready(function() {
                        var index = 0;
                        while (index != reviews.length){
                            addButton(reviews[index]);
                            index++;
                        }
                    });
                }
            });
        }
    </script>

</body>
</html>