<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <title>Restaurant Revisor</title>
</head>
<body>
    <div id = "main_page">
        <div id="logo">Restaurant Revisor</div>
        <div id="map"></div>
        <div id="restaurants_list"></div>
    </div>
    <div id = "review_details">
        <div id = "review_details_all_info">
            <div id="review_details_name">
                <label>Restaurant Name:</label>
                <label id = "restaurant_name"></label>
            </div>
            <div id="review_details_location">
                <label>Location:</label>
                <label id = "restaurant_location"></label>
            </div>
            <div id="review_details_cuisine">
                <label>Cuisine:</label>
                <label id = "restaurant_cuisine"></label>
            </div>
            <div id="review_details_interior">
                <label>Interior:</label>
                <label id = "restaurant_interior"></label>
            </div>
            <div id="review_details_service">
                <label>Service:</label>
                <label id = "restaurant_service"></label>
            </div>
            <div id="review_details_review">
                <label>Review:</label>
                <label id = "restaurant_review"></label>
            </div>
        </div>
        <div id="back">
            <button id="back_button" onclick = "clickBack()">Back</button>
        </div>
    </div>

    <script th:inline="javascript">
        var reviews_list = [[${reviews}]];
        $(document).ready(function() {
            var index = 0;
            while (index != reviews_list.length){
                addButton(reviews_list[index]);
                index++;
            }
            $("#review_details").hide();
        });


        function addButton(reviewObject){
            $("#restaurants_list").append("<div> \
            <button class='+"restaurant_name_button"+' onclick='+"clickOnRestaurantButton(this)"+'>" + reviewObject.name + "</button></div>")
        }

        function clickOnRestaurantButton(Object){
            $.ajax({
                url : 'getReview',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                mimeType: 'application/json',
                data : ({
                    restaurantName : Object.innerText
                }),
                success: function (reviewDetails) {
                    $("#restaurant_name").text(reviewDetails.name);
                    $("#restaurant_location").text(reviewDetails.location);
                    $("#restaurant_cuisine").text(reviewDetails.cuisine);
                    $("#restaurant_interior").text(reviewDetails.interior);
                    $("#restaurant_service").text(reviewDetails.service);
                    $("#restaurant_review").text(reviewDetails.review);
                    $("#review_details").show();
                    $("#main_page").hide();
                }
            });
        }

        function clickBack(){
            $("#review_details").hide();
            $("#main_page").show();
        }

</script>

</body>
</html>